/* tables */
table.tablesorter {
	background-color: White;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: LightSteelBlue;
	border: 1px solid White;
}
table.tablesorter thead tr .header {
	background-image: url(images/tablesorter_bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding: 4px 20px 4px 4px;
}
table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
  border: 1px solid LightSteelBlue;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/tablesorter_asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/tablesorter_desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: rgb(132,78,12);
  color: White;
}
